@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

*,
:after,
:before {
    margin: 0;
    line-height: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #c2bebe;
    background-color: rgb(78, 78, 78);
}

img {
    vertical-align: middle
}

.container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 1.5rem;
    width: 100%;
    justify-content: center;
}

.head {
    display: flex;
    justify-content: center;
}

.head .avatar {
    width: 4rem;
    height: 4rem;
    margin-top: auto;
    margin-bottom: auto;
}

.head .title {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.5rem;
}

.title>h1 {
    font-size: 2rem;
    line-height: 1.2;
}

.title>p {
    font-size: 1.2rem;
    line-height: 1.4;
}

.links {
    margin-top: .8rem;
    display: flex;
    justify-content: space-between;
}

.links .link {
    margin-left: .2rem;
    margin-right: .2rem;
}

.link>a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.link .icon-container {
    padding: .5rem;
    border-radius: .5rem;
    transition: linear .1s;
}

.icon-container:hover {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 25%);
}

.icon-container .icon {
    width: 1.4rem;
    height: 1.4rem;
    fill: #c2bebe;
}

.clickable { 
    cursor: pointer;
}

.clickable:hover {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 25%);
}

.textable {
    text-decoration: none;
    color: #c2bebe;
}

.projects {
    margin-top: 42px;
    margin-bottom: 40px;
}

/* Card Container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 52px;
    margin-bottom: 40px;
}

/* Card styles */
.card {
    background-color: rgb(78, 78, 78);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 340px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    flex: 1;
    padding: 16px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-title {
    font-size: 1.5em;
    margin: 0 0 8px 0;
    margin-bottom: 20px;
    color: #fff;
}

.card-description {
    font-size: 1em;
    color: #e1e1e1;
    margin: 0 0 16px 0;
    text-align: left;
    line-height: 1.4;
}

.button {
  background-color: #516abe;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: auto;
}

.button:hover {
    background-color: #3e5f9b;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.2s;
}

.button-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
  fill: white;
}